@-moz-document regexp("https://.*(libretv|lizw).*.(dev|app|shop|xyz)\/play.*"),
               regexp("http://localhost:8080\/play.*") {

/*顶部栏 高度缩小*/
[class*="player-header-fixed"] {
    height: 40px !important;
    min-height: 40px !important;
 }

 /*返回上一页按钮 缩小*/
#goBack {
    padding: 5px !important;  /* 添加内边距 */
    transform: scale(0.7) !important;
 }

/*播放区 上移*/
#playerContainer {
    margin-top: calc(-1 * (4vh + 1%)) !important;/*向上移*/
 }
 
 /*集数信息 移到顶栏*/
#episodeInfo {
    position: fixed !important;
    top: 0px !important;
    height: 40px !important;  /* 和顶栏高度一致 */
    display: flex !important;
    align-items: center !important;  /* 垂直居中 */
    left: 10% !important;
    padding: 5px !important;  /* 添加内边距 */
    z-index: 9999 !important;   /* 设置一个很高的 z-index 确保它在最上层 */
    transform: scale(0.8) !important;
 }

 /*上一集按钮 移到顶栏*/
#prevButton {
    position: fixed !important;
    top: 0px !important;
    height: 40px !important;  /* 和顶栏高度一致 */
    display: flex !important;
    align-items: center !important;  /* 垂直居中 */
    left: 20% !important;
    padding: 5px !important;  /* 添加内边距 */
    z-index: 9999 !important;   /* 设置一个很高的 z-index 确保它在最上层 */
    transform: scale(0.7) !important;
 }

 /*下一集按钮 移到顶栏*/
#nextButton {
    position: fixed !important;
    top: 0px !important;
    height: 40px !important;  /* 和顶栏高度一致 */
    display: flex !important;
    align-items: center !important;  /* 垂直居中 */
    right: 20% !important;
    padding: 5px !important;  /* 添加内边距 */
    z-index: 9999 !important;   /* 设置一个很高的 z-index 确保它在最上层 */
    transform: scale(0.7) !important;
 }
 
}

@-moz-document regexp("https://.*(lunatv|moontv|newtv).*.(dev|app|shop|xyz)\/play.*") {

/*播放区 上移和缩小*/
 div.space-y-2:nth-child(2) {

    transform: scale(0.9) !important;
 }
 
 /*详情区 上移和缩小*/
 div.grid:nth-child(3) {
    margin-top: calc(-1 * (6.5vh + 1%)) !important;/*向上移*/
    transform: scale(0.9) !important;
 }
 

 /*左上角标题，右上角设置退出和暗色 缩小*/
.text-xl, .top-2 {
    margin-top: calc(-1 * (0vh + 1%)) !important;/*向上移*/
    transform: scale(0.9) !important;
 }
 
 /*左上角返回和右上角显示/隐藏按钮 隐藏*/
div.top-3,.justify-end {
    display: none !important;
 }

}

@-moz-document regexp("https://.*(sdmoontv).*.(dev|app|shop|xyz)\/play.*") {

/*播放区 上移和缩小*/
 .space-y-2 {
    margin-top: calc(-1 * (6.5vh + 1%)) !important;/*向上移*/
    transform: scale(0.9) !important;
 }
 
 /*详情区 上移和缩小*/
div.grid:nth-child(2) {
    margin-top: calc(-1 * (6.5vh + 1%)) !important;/*向上移*/    
    transform: scale(0.9) !important;
 }
 

 /*左上角标题，右上角设置退出和暗色 缩小*/
.text-xl, .top-2 {
    margin-top: calc(-1 * (0vh + 1%)) !important;/*向上移*/
    transform: scale(0.9) !important;
 }
 
 /*左上角返回和右上角显示/隐藏按钮 隐藏*/
div.top-3,.justify-end {
    display: none !important;
 }

 /*顶部栏 缩小*/
.hidden {
    transform: scale(0.8) !important;
 }

}