@-moz-document regexp("https://libretv.*.pages.dev/.*"), 
               regexp("http://localhost:8080/.*") {

/*顶部栏高度缩小*/
[class*="player-header-fixed"] {
    height: 40px !important;
    min-height: 40px !important;
 }

 /*返回上一页按钮 缩小*/
#goBack {
    transform: scale(0.7) !important;
 }

/*播放区域上移*/
#playerContainer {
    margin-top: calc(-1 * (4vh + 1%)) !important;
 }
 
 /*集数信息移到右上角*/
#episodeInfo {
    position: fixed !important;
    top: 45px !important;
    right: 10px !important;  /* 添加一些右边距 */
    padding: 5px !important;  /* 添加内边距 */
    transform: scale(0.8) !important;
 }

 /*上一集按钮 移到右上角*/
#prevButton {
    position: fixed !important;
    top: 80px !important;
    right: 80px !important;  /* 添加一些右边距 */
    padding: 5px !important;  /* 添加内边距 */
    transform: scale(0.7) !important;
 }

 /*下一集按钮 移到右上角*/
#nextButton {
    position: fixed !important;
    top: 80px !important;
    right: 10px !important;  /* 添加一些右边距 */
    padding: 5px !important;  /* 添加内边距 */
    transform: scale(0.7) !important;
 }
 
}

